
@{
    ViewData["title"] = "List Wishlist";
    // Paginate pager = new Paginate();
    // int pageNo = 0;
    // if (ViewBag.Pager != null)
    // {
    //     pager = ViewBag.Pager;

    //     pageNo = pager.CurrentPage;
    // }
    
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">DANH SÁCH YÊU THÍCH</h2>
        @foreach (var wishlist_product in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">

                        <div class="productinfo text-center">
                            <a asp-action="Details" asp-controller="Product" asp-route-Id="@wishlist_product.Product.Id">
                                <img src="~/media/products/@wishlist_product.Product.Image" alt="@wishlist_product.Product.Name" width="100%" height="225px" />
                                <h2>@wishlist_product.Product.Price.ToString("#,##0 VNĐ")</h2>
                                <p>@wishlist_product.Product.Name</p>
                               
                            </a>
                            @*  <a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a> *@
                           @*  <button class="btn btn-default add-to-cart" data-product_id="@item.Id"><i class="fa fa-shopping-cart"><span style="margin-left: 8px;font-weight:bold;font-size:16px;">Thêm giỏ hàng</span></i></button> *@
                        </div>


                    </div>



                    <div class="choose">
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <ul class="nav nav-pills nav-justified">

                                <li><a class="confirmDeletion btn btn-default" asp-action="DeleteWishlist" asp-controller="Home" asp-route-Id="@wishlist_product.Wishlists.Id" style="width: 100%; display: block; text-align: center;height: 100%"><i class="fa fa-plus-square" style="padding-right:5px"></i>Bỏ yêu thích</a></li>

                            </ul>
                        }

                    </div>
                </div>
            </div>
        }


    </div>
    @* <partial name="_paging" model="@pager" /> *@
</body>

</html>
